<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="MyPage - Personal Portfolio Multipurpose Responsive Landing Page Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&amp;display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <header id="header" class="header d-flex align-items-center sticked stikcy-menu">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>Crop<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a style="color: blue" href="#hero" class="">Home</a></li>
          
                    
          <li><a style="color: blue" href="/logon" class="btn-get-started">SignUp</a></li>
        </ul>
      </nav><!-- .navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!--  Hero Section  -->
  <section id="hero" class="hero sticked-header-offset">
    <div class="container position-relative">
      <div class="row gy-5 aos-init aos-animate">
        <div class="col-lg-6  order-lg-1 d-flex flex-column justify-content-start text-left caption">
          <h3 data-aos="fade-up">Welcome <span>To Dashboard! </span><span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h3>
          <h1 data-aos="fade-up" data-aos-delay="400" style="color: white;">Crop yield prediction using stacking ensemble learning.</h1>
          <div class="social" data-aos="fade-up" data-aos-delay="600">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- Start Service Section -->
    

    <!--  About Us Section  -->
    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>About </h2>
          
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
              <p>
                India and other emerging nations should concentrate on creating cutting-edge agricultural technology due to the exponential rise of their populations. Crop Yield Prediction (CYP) is one of the vital tasks to develop the agricultural sector; because it represents one of the most difficult challenges in precision agriculture, which requires a complete understanding of the development of the pattern with highly nonlinear factors like environmental, soil fertilizer, and crop production. 
              </p>
              <p>
                Crop production prediction is a major concern for an agriculture-based country like Bangladesh because many prospective crops can be planted in a single season. Currently, the farmers choose the crops for plantation on their own knowledge, which might not be an effective prediction every time. Sometimes, it might give better production, and sometimes, not, which would then be very harmful to the economy of such an agriculture-based country. 
              </p>
              <p>
                Agriculture is associated with producing essential food crops and industrial raw materials. One of the most critical aspects of the development cycle of a country is the capacity to produce food using the unfavorable environment and limited agricultural land.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="static/assets/images/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


  </main><!-- End #main -->

  <!--  Footer  -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-12 col-md-12 footer-info text-center">
          <div class="social-links d-flex mt-4 justify-content-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        © Copyright <strong><span>MyPage</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">ZR Themes</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->


  <!-- Vendor JS Files -->
  <script src="static/assets/javascripts/jquery.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/javascripts/plugins.js"></script>
  <script src="static/assets/javascripts/purecounter_vanilla.js"></script>
  <script src="static/assets/javascripts/validator.min.js"></script>
  <script src="static/assets/javascripts/contactform.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/javascripts/main.js"></script>



</body></html>