<!DOCTYPE html>
<html lang="zxx">
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BlackSoil</title>
  <meta content="" name="IT-Sol Technology & IT Solutions Multipurpose Website Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&amp;display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <header id="header" class="header d-flex align-items-center sticked stikcy-menu">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>CROP<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>PREDICTION</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/home">Yield </a></li>
              <li><a href="/home1">Crop </a></li>
              <li><a href="/home2">Waste </a></li>
            </ul>
          </li>
          <li><a href="/about" class="">GRAPH</a></li>
          <li><a href="/soil" class="">SOIL TYPE</a></li>
          <li class="dropdown"><a href="#"><span>NOTEBOOK</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/notebook1">Yield </a></li>
              <li><a href="/notebook2">Crop </a></li>
              <li><a href="/notebook3">Waste </a></li>
            </ul>
          </li>
          
          <li><a style="color: orangered;" href="/login" class="btn-get-started">SIGNOUT</a></li>
        </ul>
      </nav><!-- .navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!--  Hero Section  -->
  <section id="hero" class="hero sticked-header-offset">
    <div class="container position-relative">
      <div class="row gy-5 aos-init aos-animate">
        <div class="col-lg-6  order-lg-1 d-flex flex-column justify-content-start text-left caption">
          <h3 data-aos="fade-up">WELCOME TO<span> DASHBOARD </span><span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h3>
          <h1 style="color: orangered;" data-aos="fade-up" data-aos-delay="400">
            Sustainable approach of reduced waste using Optimised ml Algorithm for predicting crop yields 
          </h1>
          <div class="social" data-aos="fade-up" data-aos-delay="600">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- Start Service Section -->
    
    <!--  About Us Section  -->
    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>SOIL TYPE</h2>
          
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h1>BLACK SOIL</h1>
            <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
              <p>
                Black soil, also known as black cotton soil or regur soil, is a type of soil that is highly fertile and commonly found in the Deccan Plateau region of India. It is characterized by its dark color, which is a result of its high content of organic matter and minerals such as calcium, magnesium, potassium, and iron oxides.
              </p>
              
              </div>
          </div>
          <div class="col-lg-6">
            <img src="static/soil/black.jpg" class="img-frame img-fluid rounded-4 mb-4" alt="">
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-6">
              <h1>Characteristics</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Color: As the name suggests, black soil is dark in color, ranging from deep black to dark brown. This dark color is due to the presence of organic matter.
                </p>
                <p>
                  Texture: Black soil has a fine texture with good moisture retention properties. It can become sticky when wet and hard when dry, making it challenging to cultivate during extreme weather conditions.
                </p>
                <p>
                  Fertility: Black soil is highly fertile due to its rich nutrient content, particularly in terms of calcium, magnesium, potassium, and phosphorus. It supports the growth of a variety of crops, including cotton, wheat, sugarcane, and soybeans.
                </p>
                <p>
                  Water Retention: It has good water retention capacity, which helps crops withstand drought conditions by providing a steady supply of moisture.
                </p>
                <p>
                  Aeration: Despite its high moisture retention capacity, black soil also provides good aeration to plant roots, facilitating their growth.
                </p>
                <p>
                  Formation: Black soil is formed by the weathering of basaltic rocks, which are rich in iron and magnesium. The process of weathering, along with the accumulation of organic matter over time, contributes to its fertility and characteristic color.
                </p>
                </div>
            </div>
            <div class="col-lg-6">
              <h1>Crop Recommendation</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Cotton: Black soil is particularly well-suited for cotton cultivation due to its moisture retention properties and fertility. Cotton thrives in these conditions and is a major crop grown in black soil regions.
                </p>
                <p>
                  Soybeans: Soybeans also do well in black soil. They benefit from the soil's fertility and ability to retain moisture, producing good yields under proper management.
                </p>
                <p>
                  Wheat: Wheat cultivation in black soil regions is common, especially during the winter season. The soil's good drainage and fertility support the growth of wheat crops.
                </p>
                <p>
                  Sugarcane: Black soil provides favorable conditions for sugarcane cultivation. The soil's fertility and ability to retain moisture help in achieving high yields of sugarcane.
                </p>
                <p>
                  Pulses (Legumes): Various pulses such as chickpeas, pigeon peas, and lentils can be cultivated in black soil. These crops benefit from the soil's fertility and provide nitrogen fixation, which enriches the soil further.
                </p>
                <p>
                  Oilseeds: Oilseeds like groundnut (peanut) and sunflower can be grown in black soil regions. These crops benefit from the soil's moisture retention and nutrient availability.
                </p>
                <p>
                  Maize (Corn): Maize cultivation is also possible in black soil areas, particularly with proper irrigation facilities. Maize thrives in well-drained soils with good fertility.
                </p>
                <p>
                  Fruits and Vegetables: Certain fruits and vegetables, such as tomatoes, brinjal (eggplant), okra (ladyfinger), and chillies, can also be cultivated in black soil regions. Proper irrigation and nutrient management are essential for successful cultivation.
                </p>
            </div>
  
        </div>
</div>

</div>
</section><!-- End About Us Section -->



</main><!-- End #main -->

<!--  Footer  -->
<footer id="footer" class="footer">

<div class="container">
<div class="row gy-4">
<div class="col-lg-12 col-md-12 footer-info text-center">
  <div class="social-links d-flex mt-4 justify-content-center">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>
</div>

</div>
</div>

<div class="container mt-4">
<div class="copyright">
© Copyright <strong><span>IT-Sol</span></strong>. All Rights Reserved
</div>
<div class="credits">
Designed by <a href="#">ZR Themes</a>
</div>
</div>

</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
<i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/assets/javascripts/jquery.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/javascripts/plugins.js"></script>
<script src="static/assets/javascripts/purecounter_vanilla.js"></script>
<script src="static/assets/javascripts/validator.min.js"></script>
<script src="static/assets/javascripts/contactform.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/javascripts/main.js"></script>



</body></html>