<!DOCTYPE html>
<html lang="zxx">
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ClayeySoil</title>
  <meta content="" name="IT-Sol Technology & IT Solutions Multipurpose Website Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&amp;display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <header id="header" class="header d-flex align-items-center sticked stikcy-menu">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>CROP<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>PREDICTION</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/home">Yield </a></li>
              <li><a href="/home1">Crop </a></li>
              <li><a href="/home2">Waste </a></li>
            </ul>
          </li>
          <li><a href="/about" class="">GRAPH</a></li>
          <li><a href="/soil" class="">SOIL TYPE</a></li>
          <li class="dropdown"><a href="#"><span>NOTEBOOK</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/notebook1">Yield </a></li>
              <li><a href="/notebook2">Crop </a></li>
              <li><a href="/notebook3">Waste </a></li>
            </ul>
          </li>
          
          <li><a style="color: orangered;" href="/login" class="btn-get-started">SIGNOUT</a></li>
        </ul>
      </nav><!-- .navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!--  Hero Section  -->
  <section id="hero" class="hero sticked-header-offset">
    <div class="container position-relative">
      <div class="row gy-5 aos-init aos-animate">
        <div class="col-lg-6  order-lg-1 d-flex flex-column justify-content-start text-left caption">
          <h3 data-aos="fade-up">WELCOME TO<span> DASHBOARD </span><span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h3>
          <h1 style="color: orangered;" data-aos="fade-up" data-aos-delay="400">
            Sustainable approach of reduced waste using Optimised ml Algorithm for predicting crop yields 
          </h1>
          <div class="social" data-aos="fade-up" data-aos-delay="600">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- Start Service Section -->
    
    <!--  About Us Section  -->
    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>SOIL TYPE</h2>
          
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h1>CLAYEY SOIL</h1>
            <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
              <p>
                Clayey soil is a type of soil characterized by its fine texture and high content of clay particles. It is one of the three main soil types, along with sandy soil and loamy soil. Clayey soil is formed from the weathering of rocks and minerals over time, resulting in small particles that are tightly packed together.
              </p>
              
              </div>
          </div>
          <div class="col-lg-6">
            <img src="static/soil/clay.jpg" class="img-frame img-fluid rounded-4 mb-4" alt="">
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-6">
              <h1>Characteristics</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Clayey soil is a type of soil characterized by its fine texture and high content of clay particles. It is one of the three main soil types, along with sandy soil and loamy soil. Clayey soil is formed from the weathering of rocks and minerals over time, resulting in small particles that are tightly packed together.
                </p>
                <p>
                  High Clay Content: Clayey soil contains a significant amount of clay particles, usually more than 40% of its composition. This high clay content gives the soil its unique properties.
                </p>
                <p>
                  Poor Drainage: Due to its fine texture and tight particle packing, clayey soil has poor drainage properties. Water tends to be retained in the soil for longer periods, leading to waterlogging and potential issues with plant root health.
                </p>
                <p>
                  High Fertility: Clayey soil is generally rich in nutrients due to the high clay content. The clay particles have a high cation exchange capacity (CEC), allowing them to hold onto essential nutrients like potassium, calcium, and magnesium for plant uptake.
                </p>
                <p>
                  Compaction: Clayey soil can become compacted easily, especially when wet. This compaction reduces soil porosity and can restrict root growth and water infiltration.
                </p>
                <p>
                  Susceptibility to Erosion: When left exposed, clayey soil is prone to erosion by water and wind due to its fine particle size and lack of structure.
                </p>
                <p>
                  Difficult to Work: Clayey soil can be challenging to work with in gardening and agriculture due to its tendency to become sticky when wet and hard when dry. Proper soil management practices such as adding organic matter, tilling, and mulching can help improve its structure and workability.
                </p>
                </div>
            </div>
            <div class="col-lg-6">
              <h1>Crop Recommendation</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Corn (Maize): Corn is a versatile crop that can tolerate clayey soil conditions. Planting hybrid corn varieties adapted to your region can improve yields. Implementing proper crop rotation practices with legumes can help maintain soil fertility and reduce pest pressure.
                </p>
                <p>
                  Soybeans: Soybeans are well-suited for clayey soils and have good tolerance to soil compaction. They are nitrogen-fixing legumes, which can improve soil health by adding nitrogen back into the soil naturally. Opt for high-yielding soybean varieties to maximize profit.
                </p>
                <p>
                  Wheat: Winter wheat or spring wheat can be grown in clayey soils, especially if drainage issues are managed properly. Selecting disease-resistant wheat varieties and implementing integrated pest management (IPM) practices can help protect yield and quality.
                </p>
                <p>
                  Alfalfa: Alfalfa is a perennial legume crop that thrives in well-drained soils with high fertility, making it suitable for improved clayey soils. It has high protein content, making it valuable for livestock feed. Proper soil pH management and timely harvesting can enhance alfalfa yields and longevity.
                </p>
                <p>
                  Sunflowers: Certain sunflower varieties are adapted to clayey soils and can provide good yields for oilseed production. Pay attention to soil fertility levels, especially phosphorus and potassium, which are crucial for sunflower growth and oil content.
                </p>
                <p>
                  Sugarcane: In regions with suitable climates, sugarcane can be a profitable crop in clayey soils with adequate drainage. Proper irrigation and nutrient management are essential for maximizing sugarcane yields and sugar content.
                </p>
                <p>
                  Vegetables: Some vegetable crops can be grown in clayey soils with amendments and proper management. Examples include cabbage, broccoli, and onions. Raised beds or mounded rows can improve drainage for vegetable crops in heavy clay soils.
                </p>
                
            </div>
  
        </div>
</div>

</div>
</section><!-- End About Us Section -->



</main><!-- End #main -->

<!--  Footer  -->
<footer id="footer" class="footer">

<div class="container">
<div class="row gy-4">
<div class="col-lg-12 col-md-12 footer-info text-center">
  <div class="social-links d-flex mt-4 justify-content-center">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>
</div>

</div>
</div>

<div class="container mt-4">
<div class="copyright">
© Copyright <strong><span>IT-Sol</span></strong>. All Rights Reserved
</div>
<div class="credits">
Designed by <a href="#">ZR Themes</a>
</div>
</div>

</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
<i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/assets/javascripts/jquery.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/javascripts/plugins.js"></script>
<script src="static/assets/javascripts/purecounter_vanilla.js"></script>
<script src="static/assets/javascripts/validator.min.js"></script>
<script src="static/assets/javascripts/contactform.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/javascripts/main.js"></script>



</body></html>