<!DOCTYPE html>
<html lang="zxx">
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LoamySoil</title>
  <meta content="" name="IT-Sol Technology & IT Solutions Multipurpose Website Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&amp;display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <header id="header" class="header d-flex align-items-center sticked stikcy-menu">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>CROP<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>PREDICTION</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/home">Yield </a></li>
              <li><a href="/home1">Crop </a></li>
              <li><a href="/home2">Waste </a></li>
            </ul>
          </li>
          <li><a href="/about" class="">GRAPH</a></li>
          <li><a href="/soil" class="">SOIL TYPE</a></li>
          <li class="dropdown"><a href="#"><span>NOTEBOOK</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/notebook1">Yield </a></li>
              <li><a href="/notebook2">Crop </a></li>
              <li><a href="/notebook3">Waste </a></li>
            </ul>
          </li>
          
          <li><a style="color: orangered;" href="/login" class="btn-get-started">SIGNOUT</a></li>
        </ul>
      </nav><!-- .navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!--  Hero Section  -->
  <section id="hero" class="hero sticked-header-offset">
    <div class="container position-relative">
      <div class="row gy-5 aos-init aos-animate">
        <div class="col-lg-6  order-lg-1 d-flex flex-column justify-content-start text-left caption">
          <h3 data-aos="fade-up">WELCOME TO<span> DASHBOARD </span><span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h3>
          <h1 style="color: orangered;" data-aos="fade-up" data-aos-delay="400">
            Sustainable approach of reduced waste using Optimised ml Algorithm for predicting crop yields 
          </h1>
          <div class="social" data-aos="fade-up" data-aos-delay="600">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- Start Service Section -->
    
    <!--  About Us Section  -->
    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>SOIL TYPE</h2>
          
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h1>LOAMY SOIL</h1>
            <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
              <p>
                Loamy soil is considered one of the best soil types for gardening and agriculture due to its balanced properties that combine the advantages of both sandy and clayey soils. It consists of a relatively equal mixture of sand, silt, and clay particles, with organic matter providing additional nutrients and improving soil structure.
              </p>
              
              </div>
          </div>
          <div class="col-lg-6">
            <img src="static/soil/loamy.webp" class="img-frame img-fluid rounded-4 mb-4" alt="">
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-6">
              <h1>Characteristics</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Texture: Loamy soil has a balanced texture with roughly equal proportions of sand, silt, and clay particles. This balanced composition allows for good water retention, adequate drainage, and proper aeration, creating an ideal environment for plant roots.
                </p>
                <p>
                  Water Retention and Drainage: Loamy soil retains moisture well without becoming waterlogged, thanks to its medium-sized particles that create spaces for water and air. At the same time, it allows excess water to drain away, preventing waterlogging and root rot.
                </p>
                <p>
                  Nutrient Retention: The combination of organic matter and balanced mineral particles in loamy soil helps retain essential nutrients such as nitrogen, phosphorus, and potassium. This enhances soil fertility and provides a healthy growing environment for plants.
                </p>
                <p>
                  Soil Structure: Loamy soil has a crumbly and granular structure that promotes good root penetration, aeration, and nutrient uptake by plants. This soil structure also supports beneficial soil organisms like earthworms and microorganisms crucial for soil health.
                </p>
                <p>
                  Workability: Loamy soil is easy to work with and till, making it suitable for various gardening and farming activities. It allows for proper root development, easy planting, and effective weed control.
                </p>
                <p>
                  Crop Versatility: A wide range of crops thrives in loamy soil, including vegetables, fruits, grains, and ornamental plants. The balanced moisture, nutrients, and aeration levels support healthy plant growth and high yields.
                </p>
                <p>
                  Erosion Resistance: Compared to sandy soils, loamy soil is less prone to erosion by wind and water due to its better structure and ability to hold onto moisture and nutrients.
                </p>
                <p>
                  pH Moderation: Loamy soil tends to have a near-neutral pH, which is generally suitable for most plants. However, pH levels can vary depending on local conditions and management practices.
                </p>
                <p>
                  Amendment Benefits: While loamy soil is naturally fertile, adding organic matter such as compost, well-rotted manure, or cover crops further enhances its nutrient content, soil structure, and overall productivity.
                </p>
                </div>
            </div>
            <div class="col-lg-6">
              <h1>Crop Recommendation</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Amendment Benefits: While loamy soil is naturally fertile, adding organic matter such as compost, well-rotted manure, or cover crops further enhances its nutrient content, soil structure, and overall productivity.
                </p>
                <p>
                  Soybeans: Soybeans also do well in loamy soil conditions. They are nitrogen-fixing legumes that can benefit from the soil's balanced fertility. Rotate soybeans with other crops to improve soil health and reduce pest pressure.
                </p>
                <p>
                  Wheat: Both winter wheat and spring wheat varieties can be grown in loamy soil with good drainage. Adequate soil fertility and proper planting techniques can lead to successful wheat crops for grain production or forage.
                </p>
                <p>
                  Potatoes: Potatoes prefer well-drained, loamy soil with good moisture retention. Amend soil with organic matter and provide consistent irrigation to promote healthy tuber development. Rotate potatoes with other crops to minimize disease pressure.
                </p>
                <p>
                  Tomatoes: Tomatoes thrive in loamy soil with good drainage and nutrient availability. Provide support for plants, control pests and diseases, and ensure consistent moisture to encourage fruit development.
                </p>
                <p>
                  Beans (Green Beans, Kidney Beans, etc.): Beans are well-suited for loamy soil conditions, especially if it has good moisture retention. Choose bush or pole bean varieties depending on available space and support structures.
                </p>
                <p>
                  Carrots: Carrots prefer loose, well-drained soil for straight root growth. Loamy soil with good organic matter content provides a favorable environment for carrots. Keep soil evenly moist for best results.
                </p>
                <p>
                  Lettuce and Leafy Greens: Lettuce, spinach, kale, and other leafy greens thrive in loamy soil with good moisture and nutrient availability. Implement mulching and regular watering to maintain soil moisture and prevent weeds.
                </p>
                <p>
                  Apples: Fruit trees like apple trees can grow well in loamy soil with good drainage. Provide adequate space, proper pruning, and pest/disease management for healthy tree growth and fruit production.
                  Grapes: Grapes prefer well-drained soil with good moisture retention. Loamy soil provides a suitable environment for grapevine growth and grape production. Trellis vines for support and manage pests and diseases as needed.
                </p>
            </div>
  
        </div>
</div>

</div>
</section><!-- End About Us Section -->



</main><!-- End #main -->

<!--  Footer  -->
<footer id="footer" class="footer">

<div class="container">
<div class="row gy-4">
<div class="col-lg-12 col-md-12 footer-info text-center">
  <div class="social-links d-flex mt-4 justify-content-center">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>
</div>

</div>
</div>

<div class="container mt-4">
<div class="copyright">
© Copyright <strong><span>IT-Sol</span></strong>. All Rights Reserved
</div>
<div class="credits">
Designed by <a href="#">ZR Themes</a>
</div>
</div>

</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
<i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/assets/javascripts/jquery.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/javascripts/plugins.js"></script>
<script src="static/assets/javascripts/purecounter_vanilla.js"></script>
<script src="static/assets/javascripts/validator.min.js"></script>
<script src="static/assets/javascripts/contactform.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/javascripts/main.js"></script>



</body></html>