<!DOCTYPE html>
<html lang="zxx">
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SandySoil</title>
  <meta content="" name="IT-Sol Technology & IT Solutions Multipurpose Website Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&amp;display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <header id="header" class="header d-flex align-items-center sticked stikcy-menu">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>CROP<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>PREDICTION</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/home">Yield </a></li>
              <li><a href="/home1">Crop </a></li>
              <li><a href="/home2">Waste </a></li>
            </ul>
          </li>
          <li><a href="/about" class="">GRAPH</a></li>
          <li><a href="/soil" class="">SOIL TYPE</a></li>
          <li class="dropdown"><a href="#"><span>NOTEBOOK</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/notebook1">Yield </a></li>
              <li><a href="/notebook2">Crop </a></li>
              <li><a href="/notebook3">Waste </a></li>
            </ul>
          </li>
          
          <li><a style="color: orangered;" href="/login" class="btn-get-started">SIGNOUT</a></li>
        </ul>
      </nav><!-- .navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!--  Hero Section  -->
  <section id="hero" class="hero sticked-header-offset">
    <div class="container position-relative">
      <div class="row gy-5 aos-init aos-animate">
        <div class="col-lg-6  order-lg-1 d-flex flex-column justify-content-start text-left caption">
          <h3 data-aos="fade-up">WELCOME TO<span> DASHBOARD </span><span class="circle" data-aos="fade-right" data-aos-delay="800">.</span></h3>
          <h1 style="color: orangered;" data-aos="fade-up" data-aos-delay="400">
            Sustainable approach of reduced waste using Optimised ml Algorithm for predicting crop yields 
          </h1>
          <div class="social" data-aos="fade-up" data-aos-delay="600">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- Start Service Section -->
    
    <!--  About Us Section  -->
    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
          <h2>SOIL TYPE</h2>
          
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h1>SANDY SOIL</h1>
            <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
              <p>
                Sandy soil is characterized by its large particle size and gritty texture. It is composed of primarily sand particles, with relatively low amounts of silt and clay. Sandy soil is known for its excellent drainage properties but can also present challenges such as low nutrient retention and water-holding capacity. 
              </p>
              
              </div>
          </div>
          <div class="col-lg-6">
            <img src="static/soil/Sandy-soil.jpg" class="img-frame img-fluid rounded-4 mb-4" alt="">
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-6">
              <h1>Characteristics</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Organic Matter Addition: Incorporate organic matter such as compost, well-rotted manure, or mulch into sandy soil to improve nutrient retention, water-holding capacity, and soil structure. Organic matter also encourages beneficial soil microbial activity.
                </p>
                <p>
                  Cover Crops: Plant cover crops like clover or vetch during the off-season to prevent soil erosion, fix nitrogen, and add organic matter to the soil when tilled under.
                </p>
                <p>
                  Mulching: Apply organic mulches such as straw, wood chips, or shredded leaves on the soil surface to conserve moisture, regulate soil temperature, and reduce evaporation in sandy soils.
                </p>
                <p>
                  Fertilization: Use balanced fertilizers or organic amendments based on soil test results to supplement nutrients that may leach quickly from sandy soils. Incorporate slow-release fertilizers to provide nutrients over time.
                </p>
                <p>
                  Irrigation Management: Sandy soils drain quickly, so regular and controlled irrigation is necessary, especially during dry periods or when growing crops with higher water needs. Drip irrigation or soaker hoses can be efficient in sandy soils.                </p>
                <p>
                  By implementing these crop recommendations and soil management strategies, farmers and gardeners can maximize productivity and sustainability in sandy soil conditions. Regular soil testing and monitoring plant health are also important for adjusting management practices and maintaining soil fertility over time.
                </p>
                </div>
            </div>
            <div class="col-lg-6">
              <h1>Crop Recommendation</h1>
              <div class="content ps-0 aos-init aos-animate" data-aos="fade-right">
                <p>
                  Root Vegetables: Crops like carrots, radishes, turnips, and sweet potatoes thrive in sandy soil due to their ability to penetrate the loose, well-draining soil easily.
                </p>
                <p>
                  Legumes: Peas and beans, including bush beans, pole beans, and snap peas, can perform well in sandy soil conditions. Legumes also contribute nitrogen to the soil through nitrogen fixation, enhancing soil fertility.
                </p>
                <p>
                  Melons and Squash: Crops like watermelons, cantaloupes, pumpkins, and zucchini can flourish in sandy soil with proper irrigation. They benefit from the loose soil structure for root development and good drainage to prevent waterlogging.
                </p>
                <p>
                  Herbs: Herbs such as rosemary, thyme, sage, and lavender are well-suited to sandy soil. Their deep roots can access moisture deeper in the soil profile, and they generally prefer drier conditions.
                </p>
                <p>
                  Barley and Rye: For grain production, barley and rye are suitable crops for sandy soil. They have good drought tolerance and can grow well in less fertile soils.
                </p>
                <p>
                  Ornamental Plants: Many drought-tolerant ornamental plants, such as lavender, sedum, yarrow, and succulents, thrive in sandy soil conditions.
                </p>
                
            </div>
  
        </div>
</div>

</div>
</section><!-- End About Us Section -->



</main><!-- End #main -->

<!--  Footer  -->
<footer id="footer" class="footer">

<div class="container">
<div class="row gy-4">
<div class="col-lg-12 col-md-12 footer-info text-center">
  <div class="social-links d-flex mt-4 justify-content-center">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>
</div>

</div>
</div>

<div class="container mt-4">
<div class="copyright">
© Copyright <strong><span>IT-Sol</span></strong>. All Rights Reserved
</div>
<div class="credits">
Designed by <a href="#">ZR Themes</a>
</div>
</div>

</footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
<i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/assets/javascripts/jquery.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/javascripts/plugins.js"></script>
<script src="static/assets/javascripts/purecounter_vanilla.js"></script>
<script src="static/assets/javascripts/validator.min.js"></script>
<script src="static/assets/javascripts/contactform.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/javascripts/main.js"></script>



</body></html>