<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static/assets1/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/assets1/css/style.css">
</head>
<body>

    

        <!-- Sign up form -->
        <section class="signin">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-form">
                        <h2 class="form-title">Welcome Back</h2>
                        <form action="/signin" method="GET" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="user" id="name" placeholder="Your Username"/>
                            </div>
                            
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="pass" placeholder="Password"/>
                            </div>
                            
                           
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Login"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="static/assets1/images/signup-image.jpg" alt="sing up image"></figure>
                        <p style="font-size: large;">Register here! <a href="/logon">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </section>

       

    

    <!-- JS -->
    <script src="static/assets1/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets1/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>